<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Denzel Washington</title>
</head>
<body id="about">
    <header>
        <div>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/work">Work</a>
            <a href="/gallery">Gallery</a>
        </div>
    </header>
    <h1>Who is Denzel Washington ?</h1>
    <article>
        <div class="films">
            <img class="img-films" src="/images/dwFilms.jpg" alt="films de Denzel Washington">
            <p>Denzel Washington est un acteur et réalisateur de nationalité américaine né le 28 décembre 1954 à Mount Vernon, dans l'État de New York. Souvent encensé pour son jeu réaliste et émouvant, il est surtout l’un des acteurs d’Hollywood les plus récompensés de tous les temps après des rôles phares dans Glory (1989), Malcolm X (1992) ou encore Training Day (2001). Touche à tout, il excelle autant dans les films dramatiques que dans des films d’action comme Man on Fire (2004) ou encore Equalizer (2014).</p>
        </div>
        <div class="family">
            <img class="img-family" src="/images/dwFamily.jpg" alt="Denzel Washington, sa femme et ses enfants">
            <p>En 1983, il épouse l'actrice Pauletta Pearson rencontrée sur le tournage du téléfilm Wilma. Ils ont quatre enfants27 : John David (né en 1984), Katia (née en 1986), et des jumeaux, Olivia et Malcolm (nés en 1991). Leur premier enfant a été joueur de football américain professionnel en UFL avant de se lancer dans une carrière d'acteur, il joue notamment le rôle de Ricky Jarrett dans la série Ballers. Katia est titulaire d’un diplôme d'art de l'Université de Yale depuis 2010. Malcolm, lui, a fait des études de cinéma à l'Université de Pennsylvanie</p>
        </div>
    </article>
    
    
</body>
</html>