<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Denzel Washington</title>
</head>
<body id="gallery">
    <header>
        <div>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/work">Work</a>
            <a href="/gallery">Gallery</a>
        </div>
    </header>

    <main class="gallery-img">
        <img src="/images/combats.jpg" alt="">
        <img src="/images/eli.jpg" alt="">
        <img src="/images/fences.jpg" alt="">
        <img src="/images/flight.jpg" alt="">
        <img src="/images/insideman.jpg" alt="">
        <img src="/images/johnq.jpg" alt="">
        <img src="/images/sécurité.jpg" alt="">
        <img src="/images/dw1.png" alt="">
        <img src="/images/dw2.jpg" alt="">
        <img src="/images/dw3.jpg" alt="">
        <img src="/images/dw4.webp" alt="">
        <img src="/images/dw5.webp" alt="">
        <img src="/images/dw6.jpg" alt="">
        <img src="/images/dw7.jpg" alt="">
        <img src="/images/dw8.jpg" alt="">
        <img src="/images/dw9.jpg" alt="">
        <img src="/images/dw10.jpg" alt="">
        <img src="/images/dw11.jpg" alt="">
        <img src="/images/dw12.webp" alt="">
        <img src="/images/dw13.jpg" alt="">
        <img src="/images/dw14.webp" alt="">
        <img src="/images/dw15.jpg" alt="">
        <img src="/images/dw16.webp" alt="">
        <img src="/images/dw17.jpg" alt="">
        <img src="/images/dw18.jpg" alt="">
        <img src="/images/dw19.webp" alt="">
        <img src="/images/dw20.webp" alt="">
        <img src="/images/dw21.ashx" alt="">
        <img src="/images/dw22.jpg" alt="">
        

    </main>
</body>
</html>