<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Denzel Washington</title>
</head>
<body id="work">
    <header>
        <div>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/work">Work</a>
            <a href="/gallery">Gallery</a>
        </div>
    </header>

    <section id="beginning">
        <div class="content">
            <h2>Premiers pas télévisuels et premiers succès</h2>

            <div class="beginning-img">
                <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=20576.html" target="_blank"><img src="/images/soldierstory.jpg" alt=""></a>
                <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=3395.html" target="_blank"><img src="/images/cryFreedom.jpg" alt=""></a>
                <a class="malcolmX" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=4440.html" target="_blank"><img src="/images/malcolmx.jpg" alt=""></a>
                <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=9432.html" target="_blank"><img src="/images/philadelphia.webp" alt=""></a>
            </div>

            <p>À sa sortie de l’Université, il est choisi pour occuper un petit rôle dans la série télévisée Wilma (1977) de Bud Greenspan. On le retrouve ensuite dans un autre téléfilm : Fresh And Blood (1979) pour lequel il occupe un rôle secondaire.<br>
            Il faut attendre le début des années 1980 pour que Denzel Washington passe sur le grand écran avec Carbon Copy (1981) puis <span>A Soldier’s story</span> (1984). Passant inaperçu pour le grand public, il n’en est pas de même dans le milieu cinématographique. <span>Richard Attenborough</span> apprécie son jeu d’acteur et lui propose d’interpréter le rôle de Steve Biko, un leader anti-Apartheid en Afrique du Sud dans son film <span>Cry Freedom</span> (1987).</p>
            <p>Alors que sa réputation grandit, Denzel Washington franchit encore un cap à la suite de son interprétation de Trip dans <span>Glory</span> (1989). Accédant au statut de star, il est à l’affiche <span>Mo’ Better Blues</span> (1990) de <span>Spike Lee</span> puis de <span>Mississippi Masala</span> (1991). C’est alors que Spike Lee le recontacte pour qu’il incarne Malcolm X ! Dans <span>Malcolm X</span> (1992), Denzel Washington crève l’écran et s’installe définitivement parmi les acteurs les plus populaires des années 1990.</p>
            <aside>
                <h3>Il avait déjà joué Malcolm X !</h3>
                <p>C’est à l’Université Fordham que Denzel Washington campe pour la première fois le personnage de Malcolm X lors de la représentation de When the Chickens come home to roost. Ce personnage, qu’il connaîtra sur le bout des doigts, lui permettra notamment de percer dans le milieu du cinéma des années plus tard !</p>
            </aside>
            <p>Il joue ensuite dans trois films d’envergure au succès colossal. Dans <span>Beaucoup de bruit pour rien</span> (1993), ses années de théâtre lui permettent d’incarner à la perfection Don Pedro d’Aragon, un noble espagnol. Dans <span>Philadelphia</span> (1993), il donne la réplique à <span>Tom Hanks</span> en jouant Joe Miller, son avocat. Pour <span>L’Affaire Pélican</span> (1993), il retrouve ses années d’étudiant en interprétant un journaliste politique zélé.</p>
        </div>
    </section>

    <section id="goat">
        <div class="content">
            <h2>Un des plus grands acteurs d’Hollywood</h2>

            <div class="goat-img">
                <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=13015.html" target="_blank"><img src="/images/ussAlabama.webp" alt=""></a>
                <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=33298.html" target="_blank"><img src="/images/pasteur.webp" alt=""></a>
                <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=24850.html" target="_blank"><img src="/images/game.jpg" alt=""></a>
                <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=23266.html" target="_blank"><img src="/images/carter.jpg" alt=""></a>
            </div>

            <p>Il continue à se diversifier en passant cette fois-ci aux films d’action. Il débute avec <span>Programmé pour tuer</span> (1995) de Brett Leonard, puis rencontre un véritable succès avec <span>USS Alabama</span> (1995), son premier film de guerre. Dans <span>Le Diable en robe bleue</span> (1995), il devient Easy Rawlins, un enquêteur en mal d’argent.</p>
            <p>Il alterne ensuite les réussites, comme avec <span>La Femme du Pasteur</span> (1996) et <span>À l’Épreuve du feu</span> (1996), et les échecs commerciaux. Malgré un bon jeu d’acteur de Denzel Washington, les films <span>Couvre-Feu</span> (1998) d’<span>Edward Zwick</span> et <span>He Got game</span> (1998) de Spike Lee ne trouvent pas leur public. Son interprétation du boxeur Rubin Carter dans le biopic <span>Hurricane Carter</span> (1999) et son rôle dans <span>Bone Collector</span> (1999) sont toutefois remarqués et montrent une nouvelle fois que son talent lui permet de passer sans difficulté d’un registre à un autre.</p>
        </div>
    </section>

    <section id="thrillers">
        <div class="content">
            <h2>Vers des thrillers et des rôles psychologiques</h2>
            <div class="thrillers-img">
                <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=47141.html"><img src="/images/manonfire.jpg" alt=""></a>
                <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=182873.html"><img src="/images/equalizer.jpg" alt=""></a>
                <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=29232.html"><img src="/images/trainingday.jpg" alt=""></a> 
                <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=57931.html"><img src="/images/debaters.jpg" alt=""></a>
                <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=88156.html"><img src="/images/americangangster.jpg" alt=""></a>
            </div>

            <p>Les années 2000 marquent un autre tournant dans la carrière de Denzel Washington, puisque celui-ci s’essaie aux rôles à la psychologie complexe. On le retrouve alors dans <span>Le Plus Beau des combats</span> (2000) puis dans le thriller de <span>Nick Cassavetes</span> : <span>John Q</span>. (2001). Il enchaîne avec <span>Training Day</span> (2001) où on le retrouve au cœur d’un face-à-face puissant et tendu avec <span>Ethan Hawke</span>.</p>

            <p>Poussé par la curiosité, Denzel Washington s’essaie à la réalisation avec le long-métrage <span>Antwone Fisher</span> (2002). Souhaitant renouer avec le cinéma d’action, il joue dans des films tels qu’<span>Out of Time</span> (2003), <span>Man on Fire</span> (2004) et <span>Déjà-Vu</span> (2006).<br>
            Il est ensuite choisi pour incarner Melvin B. Tolson dans le film historique <span>The Great Debaters</span> (2007) et est à l’affiche d’<span>American Gangster</span> (2007).</p>

            <p>Diminuant les tournages ces dernières années, il est tout de même l’acteur principal de plusieurs films comme <span>Unstoppable</span> (2010), <span>Flight</span> (2012), <span>Equalizer</span> (2014) et surtout <span>Les 7 Mercenaires d'Antoine Fuqua</span> (2016).</p>
        </div>
    </section>

    <section id="award">
        <h2>Un acteur parmi les plus récompensés du 7e Art</h2>
        <div class="award-img">
            <img src="/images/dwAward.jpg" alt="">
            <div class="content">
                <p>Le film Glory (1989) signe sa véritable révélation cinématographique puisqu’il s’agit du film qui lui apporte ses premières distinctions. Fait rare pour un jeune acteur : son premier Prix est l’Oscar du meilleur acteur dans un second rôle en 1990. Il fait coup double la même année en remportant le Golden Globe du meilleur acteur dans un second rôle. Denzel Washington surfe alors sur la vague du succès et profite de Malcolm X (1992) pour gagner l’Ours d’Argent du meilleur acteur en 1993.<br>
                Le biopic Hurricane Carter (1999) l’amène à remporter successivement l’Ours d’Argent et le Golden Globe du meilleur acteur en 2000. Il est ensuite lauréat de l’Oscar du meilleur acteur 2002 pour sa prestation dans Training Day (2001).</p>
                <p>Pour son immense carrière, Denzel Washington reçoit également le Prix Cecil B. DeMille Award en 2016.
                </p>
                <p>Revenant à ses premiers amours, Denzel Washington, en 2021, nous a sorti une adaptation cinématographique de la tragédie de <span>William Shakespeare</span>, <span>MacBeth</span>, pour laquelle il a eu le premier rôle.</p>
            </div>
        </div>
    </section>
</body>
</html>